<div class="item-container">
    <div class="title-department">
    <%= link_to current_user.department1 ,  dashboard_path(current_user.department1) %>
    </div>
    <div class="actual-btn">
    <%= link_to 'actual',  dashboard_path(current_user.department1)  %>
    </div>
    <div class="plan-btn">
    <%= link_to 'plan',  edit_dashboard_path(current_user.department1)  %>
    </div>
</div>
<div class="item-container">
    <div class="title-department">
    <%= current_user.department2 %>
    </div>
    <div class="actual-btn">
    <%= link_to 'actual2',  dashboard_path(current_user.department2)  %>
    </div>
    <div class="plan-btn">
    <%= link_to 'plan2',  edit_dashboard_path(current_user.department2)  %>
    </div>
</div>
<div class="item-container">
    <div class="title-department">
    <%= current_user.department3 %>
    </div>
    <div class="actual-btn">
    <%= link_to 'actual3',  dashboard_path(current_user.department3)  %>
    </div>
    <div class="plan-btn">
    <%= link_to 'plan3',  edit_dashboard_path(current_user.department3)  %>
    </div>
</div>